$primary-pink: #FFB5C3;
$primary-light: #fcf4f4;

$secondary-pink: #A6216A;
$secondary-beige: #EAD7CF;

$contrast-orange: #FEAA56;

$black: #000000;
$white: #ffffff;

$heading-font: "Playfair Display", serif;
$body-font: "Montserrat", sans-serif;

@mixin heading {
  font-family: $heading-font;
  color: $secondary-pink;
  text-align: center;
}

@mixin button {
  background-color: $secondary-pink;
  color: $white;
  font-family: $body-font;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  cursor: pointer;
}